<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>@ViewData["Title"] - Study Planner</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Your Custom Stylesheet 
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <script src="~/js/navbar.js"></script>
-->
<!--bootsrap css and js files-->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<!--
<partial name="_Header" /> 
-->
    <main role="main">
        @RenderBody()
    </main>

    <!-- ... your <main> tag is up here ... -->
<!-- Footer 
<partial name="_Footer" />
-->


</body>

</html>

@functions {
    string GetNavLInkClass(ViewContext viewContext, string page)
    {
        var currentPage = viewContext.ActionDescriptor.DisplayName;
        if (currentPage != null && currentPage.Contains(page, StringComparison.OrdinalIgnoreCase))
        {
            return "active-btn";
        }
        return string.Empty;
    }
}
