@page
@model MyApp.Namespace.AddWorkModel

<form method="post" class="text-white w-100">

    <div class="form-group">
        <label asp-for="NewWork.WorkName">Work name</label>
        <input asp-for="NewWork.WorkName" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label asp-for="NewWork.SubjectId">Work subject</label>
        <select asp-for="NewWork.SubjectId" asp-items="Model.SubjectList" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="NewWork.DateType">Date Type</label>
        <select asp-for="NewWork.DateType" class="form-control"
    asp-items="Model.DateTypeList">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="NewWork.WorkStatus">Work status</label>
        <select asp-for="NewWork.WorkStatus" asp-items="Model.WorkStatusList" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="NewWork.Date">Date</label>
        <input asp-for="NewWork.Date" class="form-control" type="date">
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Add Work</button>
</form>
